imageio
librosa
lmdb
loguru
nnAudio
numba
numpy
opencv-python
python-osc
pandas
parso
Pillow
pyarrow
soundfile
sounddevice
scikit-image
scikit-learn
scipy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
terminado
testpath
tifffile
timm
torch
torchaudio
torchvision
tornado
yacs
yarg
yarl
tqdm
fasttext-wheel
textgrid
matplotlib
wandb
seaborn
kornia
h5py