datasets/beat_cache/beat_4english_15_141/test/*
datasets/beat_cache/beat_4english_15_141/val/*
datasets/beat_cache/beat_4english_15_141/train/*
datasets/beat_cache/cache_name
datasets/beat_english_v0.2.1
datasets/cc.en.300.bin
datasets/beat_cache/beat_4english_15_141/weights

!datasets/beat_cache/beat_4english_15_141/train/bvh_rot/
datasets/beat_cache/beat_4english_15_141/train/bvh_rot/*_*_*.bvh
datasets/beat_cache/beat_4english_15_141/train/bvh_rot/*_*_*.npy

!datasets/beat_cache/beat_4english_15_141/train/facial52/
datasets/beat_cache/beat_4english_15_141/train/facial52/*.json
datasets/beat_cache/beat_4english_15_141/train/facial52/*_*_*.npy

!datasets/beat_cache/beat_4english_15_141/train/wave16k/
datasets/beat_cache/beat_4english_15_141/train/wave16k/*_*_*.npy

# !datasets/beat_cache/beat_4english_15_141/test/bvh_rot_cache
# !datasets/beat_cache/beat_4english_15_141/val/bvh_rot_cache

codes/audio2pose/ckpt_model
outputs/

**/__pycache__/
**/.ipynb_checkpoints/